

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<div id="projects" class=" bg p-5 text-black" style="background-color:rgb(255, 255, 255)">
    
<div class="container ">
<h2 class="text-center mb-5">Proyectos</h2>
</div>
  <div class=" card-deck card-dark">
      <div class="ca card shadow-lg p-3 mb-5 bg-body rounded">
        
        <img class="card-img-top" src="https://i.ibb.co/F76KJs7/2-2.jpg" alt="wlh grandes alturas" loading="lazy">
          <div class="card-body">
              <h4 class="card-title">WLH Grandes Alturas</h4>
              <p class="card-text mt-4">WLH Grandes Alturas es un sitio web que trabaje desde 0 para
                  una empresa que necesitaba mostrar información acerca de sus servicios.
              </p>
            
          </div>
          <a href="https://wlhgrandesalturas.com" class="btn btn-outline-dark " style="text-align: center !important;">Visitar</a>
   
      </div>
      <div class=" ca card shadow-lg p-3 mb-5 bg-body rounded">
          <img class="card-img-top" src="https://i.ibb.co/S6kDYYh/Copia-de-Sin-t-tulo.png" alt="marktech" loading="lazy" >
          <div class="card-body">
              <h4 class="card-title">MARKTECH</h4>
              <p class="card-text mt-4">MARKTECH fue un mini proyecto en el cual se podria ver el front-end 
                  de una tienda online basada en técnologia.
              </p>
             
          </div>
          <a href="https://beck2301.github.io/marktechsv/" class="btn btn-outline-dark " style="text-align: center !important;">Visitar</a>
      </div>
      <div class=" ca card shadow-lg p-3 mb-5 bg-body rounded">
        <img class="card-img-top" src="https://i.ibb.co/HCYxh2M/Copia-de-Sin-t-tulo-2.png" alt="covid19 el salvador" loading="lazy">
        <div class="card-body">
            <h4 class="card-title">Covid-19 El Salvador</h4>
            <p class="card-text mt-4">Al principio de la pandemia, no existia un sitio en el cual poder ver los casos confimados del covid-19 tomamos a bien un amigo
                y yo realizar un sitio web pequeño el cual consume una API publica para mostrar los casos activos.
            </p>
        </div>
        <a href="https://covidelsalvador.tk" class="btn btn-outline-dark " style="text-align: center !important;">Visitar</a>
    </div>
  </div>

  <div class="text-center"> 
      <h3>GitHub</h3>
      <a href="https://github.com/Beck2301"> 
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="github" height="75px" loading="lazy"> 
      </a>

  </div>
</div>
<style>
 
</style>