<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />





<!--Content  E IMAGEN PRINCIAL-->
<div class="mt-5 ">
  <div style="height: 800px;" id="me" class=" headercmp  ctn d-flex justify-content-center wow zoomIn"
    data-wow-duration="2s" data-wow-delay="0.1s">
    <div class=" container px-4 d-flex justify-content-center align-items-center">


      <div class="row ">
        <div class="col-md-4 text-white my-photo">
          <img src="https://i.ibb.co/B4YKvgP/145198548-3718965088194461-2596755308624468086-o.jpg" alt=""
            class="figure-img img-fluid rounded-circle ">
        </div>
        <div class="col-md-7 ms-auto text-white border rounded-3 p-5 mb-5 mt-5 " style="background-color: black;">
          <div>
            <h4> Hola <img src="https://i.ibb.co/vY4Gv3p/waving-hand-1f44b.png" alt="" height="30px"> soy Bryan Escobar
            </h4>
          </div>
          <div class="mt-5 ">
            <h5 class="desc-me">Soy una persona amante del desarrollo web, me gustan los tacos y tocar la guitarra.</h5>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>